#Form{
    background-color: aliceblue;
    margin: auto;
}

form{
    width: 100px;
margin: 25% 50% 25% 45%;
}
body{
    background-color: aliceblue;
    align-items: center;
}
#back2{
 width: 20px;
}